.header {
  padding: 5rem 0;
}

.header-container {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {}

.header-nav {}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__item a {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: var(--default-color);
  transition: all .7s cubic-bezier(.97, 0, .4, .91);
}

.nav__item a:hover {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--active-color);
}

.header-notification {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-notification__item img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.burger {
  display: none;
}

.burger-show {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.burger-show span {
  display: inline-block;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: black;
}

@media all and (max-width: 1440px) {
  .header {
    padding: 1rem;
  }

  .nav__item a {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 1025px) {
  .header-notification {
    gap: 2rem;
  }
}

@media all and (max-width: 769px) {
  .header-nav {
    display: none;
  }

  .header-notification {
    display: none;
  }

  .burger-show {
    display: flex;
  }
}




/* [ 1440, 1024, 768, 500, 360] */


/* [ 1440, 1024, 768, 500, 360] */